{% extends "kck2021/layout.html" %}
{% load static %}
{% block title%}- Career {% endblock %}
{% block body %}
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
        data-background="{% static 'img/hero/blog.jpeg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2> Jawatan</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#"> Career</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="vision border-bottom pb-25" id="vision">
    <div class="container">
        <div class="section-tittle text-center">
            <span class="kck pt-20 font-weight-bold companyColor">KCK KOK ENGINEERING</span>
            <div class="vr"></div>
            <span class="kck font-weight-bold">KCK Careers</span>
            <h2 class="text-left pt-20"> Motif &#38 Matlamat</h2>
        </div>
        <div class="row justify-content-start ">
            <div class="col-md-6 heading-section ftco-animate pl-md-4">
                <div class="row d-flex flex-column">
                    <div class="col-md-12">
                        <div class="tabulation-2 mt-4">
                            <ul class="nav nav-pills nav-fill d-flex flex-column w-100 my-10 d-block">
                                <li class="nav-item mb-2">
                                    <a class="nav-link active py-2" data-toggle="tab" href="#home1">
                                        Misi</a>
                                </li>
                                <li class="nav-item mb-2">
                                    <a class="nav-link py-2" data-toggle="tab" href="#home2">Visi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-2 mb-2" data-toggle="tab" href="#home3">
                                        Nilai</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-md-4 py-md-4">
                <div class="tabulation-2">
                    <div class="tab-content bg-light rounded">
                        <div class="tab-pane container p-0 active" id="home1">
                            <p>Menjadi peneraju dalam bidang pembinaan yang menyediakan perkhidmatan pengurusan atau
                                bangunan projek yang unggul untuk semua pengguna tidak kira bangsa, negara dan latar
                                belakang. </p>
                        </div>
                        <div class="tab-pane container p-0 fade" id="home2">
                            <p>Memacu dan menjana nilai yang baik dalam menjadi contoh kontraktor yang cemerlang dalam
                                menyiapkan projek dan menyediakan perkhidmatan bermutu tinggi untuk industri pembinaan
                                yang kompetitif. </p>
                        </div>
                        <div class="tab-pane container p-0 fade" id="home3">
                            <p>Syarikat yang memaksimumkan penggunaan kemudahan teknologi binaan yang terkini ,menjadi
                                proaktif dalam menjalani tren pembinaan baru untuk seluruh pengguna warganegara
                                Malaysia. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="opening">
    <div class="container">
        <div class="section-tittle text-center pt-xs-5">
            <h2 class="heading mb-50">Bagaimana kami menawarkan pekerjaan</h2>
            <p class="text-left mt-30">Di KCK, kami sentiasa berusaha untuk menjadi pilihan pelanggan yang paling
                disukai dengan mencapai kecemerlangan dalam projek bernilai tambah berkualiti dan siap tepat pada
                masanya. Kami juga mengutamakan pencapaian pengiktirafan pelanggan dan kepuasan pihak berkepentingan
                dengan melakukan prestasi tertinggi dengan integriti, kreativiti dan semangat untuk memperoleh hasil
                yang diinginkan.</p>
            <p class="text-left">Kami melakukan semua yang kami mampu untuk rakyat kami. Dari menawarkan pendekatan
                berasaskan projek yang fleksibel, hingga budaya syarikat yang menyatukan semua ahli KCK untuk mencapai
                matlamat.
                Antara kualiti-kualiti yang kami menumpu pada resume anda adalah:
                <ul class="text-left companyColor font-weight-bold">
                    <li> - Bersedia untuk menyampai <a href="#vision">misi, visi dan nilai</a> kepada seluruh
                        warganegara Malaysia tidak kira bangsa dan agama</li>
                    <li> - Mampu bekerja dalam persekitaran yang pantas</li>
                    <li> - Mampu berkoordinasi dan menjadi ahli pasukan ke arah tujuan bersama.</li>
                    <li> - Keperibadian yang dinamik, positif dan berfikiran maju </li>
                    <li> - Memiliki sikap baik dan positif</li>
                    <li> - Komunikator idea yang baik</li>
                </ul>
            </p>
            <p class="text-left">Sekiranya anda mahir, bercita-cita tinggi, bertenaga dan mempunyai nilai-nilai yang
                dapat merealisasikan objektif KCK dalam bidang pembangunan, serahkan resume anda dan posisi yang anda
                berminat kepada kita.</p>

        </div>
    </div>
</section>
<div class="apply-process-area apply-bg pt-150 pb-150" data-background="{% static 'img/gallery/bg.png' %}">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">
                    <span class="apply-color">Apply process</span>
                    <h2> Proses Pemohonan</h2>
                </div>
            </div>
        </div>
        <!-- Apply Process Caption -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-search"></span>
                    </div>
                    <div class="process-cap">
                        <h5>1. Mencari jawatan.</h5>
                        <p>Menetapkan aspirasi dan objektif kerjaya anda. Pertimbangkan mengapa anda memerlukan
                            pekerjaan ini dan menilai kemahiran anda.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-curriculum-vitae"></span>
                    </div>
                    <div class="process-cap">
                        <h5>2. Memohon.</h5>
                        <p>Berikan sebarang dokumen yang berkaitan seperti resume dan jawatan yang minat untuk
                            menunjukkan kemampuan anda.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>3. Temuduga</h5>
                        <p>Kami akan menilai resume anda dan anda akan dihubungi sekiranya anda telah disenarai. Kami
                            akan menghubungi melalui whatsapp/emel. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>3. Get your job</h5>
                        <p>Sekiranya kami berasa anda adalah calon terbaik untuk peranan tersebut, kami akan menghubungi
                            anda dengan tawaran.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="departments" class="departments">
    <div class="container">
        <div class="section-tittle text-center">
            <h2>Jabatan</h2>
            <p>Di KCK, kami mempunyai pelbagai jabatan untuk menjalankan fungsi khusus sambil terus bekerjasama antara
                satu sama lain dan berpegang pandangan yang sama untuk mencapai matlamat dan misi syarikat.</p>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">KCK Quantity Surveyor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">KCK Graphics Designer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">KCK Mechanical Engineer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">KCK Sales Executive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">KCK Civil Engineer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Quantity Surveyor</h3>
                                <p class="fst-italic">We are looking for a quantity surveyor that could price/forecast
                                    the cost of the different materials needed for the project.</p>
                                <p> <a
                                        href="https://drive.google.com/file/d/1L-Y_7ooksADjRAbBXcuWO-1JEPgLg1Xv/view?usp=sharing">Read
                                        job descriptions and basic requirements</a>.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/department/quantity.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>KCK Graphics Designer</h3>
                                <p class="fst-italic">We are hiring graphics designer who can develop unique fonts,
                                    color schemes, shapes, videos, photography and other design elements that portray a
                                    company’s brand.</p>
                                <p> <a
                                        href="https://drive.google.com/file/d/11r-zbGzK_bWjooJFgI7GBfjlVKpY9RFL/view?usp=sharing">Read
                                        job descriptions and basic requirements</a>.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/department/graphics.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>KCK Mechanical Engineer</h3>
                                <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim
                                    fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut
                                </p>
                                <p> <a href="#">Read job descriptions and basic requirements</a>.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/department/mechanical.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>KCK Sales Executive </h3>
                                <p class="fst-italic">We are seeking for a sales professional to assist in the growth of
                                    a firm by discovering new business prospects and selling merchandise to them.</p>
                                <p> <a
                                        href="https://drive.google.com/file/d/1AreKJS5OuLu-AOM__WnlpIcKA84zPd-5/view?usp=sharing">Read
                                        job descriptions and basic requirements</a>.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/department/business.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>KCK Civil Engineer</h3>
                                <p class="fst-italic">We are looking for an innovative Civil Engineer to design, develop and
                                    construct a huge range of projects of the physically and naturally built environment
                                    from conception through to completion.</p>
                                <p> <a
                                        href="https://drive.google.com/file/d/13ax34R8jRXt62g4HgZnuDj-4DaVisIfy/view?usp=sharing">Read
                                        job descriptions and basic requirements</a>.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/department/civil.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="#">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="cv-caption text-center">
                    <p class="pera1">Apply Now.</p>
                    <p class="pera2"> Tunjukkan bakat dalaman anda. </p>
                    <a href="mailto:kckokengineering@gmail.com" class="border-btn2 border-btn4">Muat naik CV anda</a>
                    <p class="fst-italic">
                        Walaupun mungkin tidak ada posisi yang relevan pada masa ini, jika anda ingin bekerja untuk KCK,
                        anda boleh menyerahkan penyataan peribadi atau resume anda kepada <a
                            href="mailto:kckokengineering@gmail.com">kckokengineering@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}