{% extends "kck2021/layout.html" %}
{% load static %}
{% block title %}KCK KOK ENGINEERING SDN BHD{% endblock %}
{% block og %}
<meta property="og:url" content="http://kckok.my" />
<meta property="og:type" content="website" />
<meta property="og:title" content="KCK Kok Engineering SDN BHD" />
<meta property="og:description" content="KCK KOK ENGINEERING, ditubuhkan pada tahun 1993 yang berasas di lokasi Besut, sudah berkhidmat hampir 12 tahun dalam industri konkrit siap pakai dan hampir 20 tahun dalam perkhidmatan kimpalan (mesin-lay) berasas logam" />
<meta property="og:image" content="http://kckok.my/static/img/hero/background-2.jpg" />
{% endblock %}
{% block body %}
    <main id="index">

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly vh-100 slider-height d-flex align-items-center"
                    data-background="{% static 'img/hero/background-2.jpeg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">
                                    <div class="hero-text1">
                                        <span data-animation="fadeInUp" data-delay=".3s">Selamat Datang 😊</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">
                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                        <h2>KCK</h2>
                                        <h2>KCK</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">
                                    <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                        <span>KCK KOK ENGINEERING</span>
                                    </div>
                                    <h1 class="display-2 motto" data-animation="fadeInUp" data-delay=".5s"><span class="d-block">you dream it, we</span> <span id="typed" class="typed"></span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="button-hpage d-none row align-items-center justify-content-center mt-100 ">
                            <div class="col-lg-12 text-center">
                                <a href="{% url 'kck:contact' %}" class="btn btn-outline-success"> Talk to us </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Qualities start-->
        
        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-12 border-bottom">
                        <div class="malaysia-slogan text-center negara">
                            <p class="font-weight-bold">BERKHIDMAT UNTUK <span class="malaysia-red">NEGARA</span>.<br> DEMI MALAYSIA, UNTUK MALAYSIA </p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                                <h2 class=""><span class="companyColor">Kualiti </span> kami</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                        <div class="media block-6 d-block text-center pt-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-quad">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-img">
                                    <img src="{% static 'img/icon/mixer.svg' %}">
                                </span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Pembekal</h3>
                                <p>Pembekal sebagai penyedia perkhidmatan atau barang sama ada secara langsung kepada majikan atau pembekal lain dalam rantaian bekalan. Menyediakan loji pencampur konkrit bagi menghasilkan konkrit homogen dan seragam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                        <div class="media block-6 d-block text-center pt-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-quad">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-img">
                                    <img src="{% static 'img/icon/welding-mask.svg' %}" alt="welding">
                                </span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Kimpalan</h3>
                                <p>Kimpalan berperanan dalam mengendalikan pelbagai sistem di sesebuah bangunan. Kaedah ini digunakan untuk fabrikasi dan pemeliharaan kerangka struktur dan struktur sokongan untuk komponen besar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                        <div class="media block-6 d-block text-center pt-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-quad">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-img">
                                    <img src="{% static 'img/icon/building.svg' %}" alt="construction">
                                </span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Pembinaan</h3>
                                <p>Syarikat perniagaan yang berkenaan dengan pembinaan kemudahan infrastruktur seperti bangunan, jambatan, terowong, jalan raya dan telekomunikasi (termasuk sambungan Internet dan akses jalur lebar).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                        <div class="media block-6 d-block text-center pt-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-quad">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-img">
                                    <img src="{% static 'img/icon/crane.svg' %}" alt="crane">
                                </span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Penyewaan</h3>
                                <p>Merupakan satu alternatif untuk memiliki sesuatu jentera untuk jangka masa yang pendek. Penyewaan membolehkan kontraktor mendapatkan jentera yang dikehendaki dalam jangka masa yang tertentu dengan kadar harga tertentu.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters" style="border-bottom: 1px solid #c0762b;">
                    <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                        <div class="py-3 d-flex">
                            <div class="icon">
                                <span class="icon-img-section-quality">
                                    <img src="{% static 'img/icon/engineer.svg' %}" alt="professional">
                                </span>
                            </div>
                            <div class="text">
                                <h3>Pakar &amp; Profesional</h3>
                                <p class="mb-0">Menggunakan teknologi GPS untuk memastikan bancuhan konkrit dituangkan dengan ketinggian yang tepat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                        <div class="py-3 d-flex">
                            <div class="icon">
                                <span class="icon-img-section-quality">
                                    <img src="{% static 'img/icon/reliability.svg' %}" alt="amanah">
                                </span>
                            </div>
                            <div class="text">
                                <h3>Kredibiliti Tinggi</h3>
                                <p class="mb-0">Sebagai sebuah syarikat yang dipercayai untuk bekerjasama dalam mengendalikan sesebuah projek.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                        <div class="py-3 d-flex">
                            <div class="icon">
                                <span class="icon-img-section-quality">
                                    <img src="{% static 'img/icon/efficient.svg' %}" alt="effisen">
                                </span>
                            </div>
                            <div class="text">
                                <h3>Sokongan Perkhidmatan</h3>
                                <p class="mb-0">Menyediakan kemudahan khidmat pelanggan sepanjang 24 jam sehari bagi menjawab segala pertanyaan.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                        <div class="py-3 d-flex">
                            <div class="icon">
                                <span class="icon-img-section-quality">
                                    <img src="{% static 'img/icon/innovate.svg' %}" alt="professional">
                                </span>
                            </div>
                            <div class="text">
                                <h3>Inovasi</h3>
                                <p class="mb-0">Mengenal pasti masalah dan menggariskan Langkah-langkah perlaksanaan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                        <div class="py-3 d-flex">
                            <div class="icon">
                                <span class="icon-img-section-quality">
                                    <img src="{% static 'img/icon/efisen.svg' %}" alt="amanah">
                                </span>
                            </div>
                            <div class="text">
                                <h3>Harga Berpatutan</h3>
                                <p class="mb-0">Menawarkan harga yang berpatutan sesuai dengan bajet pelanggan mengikut pelbagai spesifikasi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                        <div class="py-3 d-flex">
                            <div class="icon">
                                <span class="icon-img-section-quality">
                                    <img src="{% static 'img/icon/amanah.svg' %}" alt="effisen">
                                </span>
                            </div>
                            <div class="text">
                                <h3>Amanah</h3>
                                <p class="mb-0">Syarikat yang sentiasa memperkukuhkan tahap mekanisma kawalan dan integriti operasi perniagaan kami.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row d-flex no-gutters">
                    <div class="col-sm-12 col-lg-6 d-flex">
                        <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" 
                            data-background="{% static 'img/hero/service1.jpg' %}" data-aos="fade-up" data-aos-duration="3000">
                            <a href="#" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                                <span class="icon-play">
                                    <img src="{% static 'img/icon/playbutton.svg' %}" width="30px">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 pl-md-5">
                        <div class="row justify-content-start py-5">
                            <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                                <span class="subheading">Selamat Datang ke KCK KOK Engineering</span>
                                <h2 class="mb-4 font-weight-bold">repurpose, renovate, refine - spaces </h2>
                                <p>KCK KOK ENGINEERING, ditubuhkan pada tahun 1997, sudah berkhidmat 8 tahun dalam industri konkrit dan 20 tahun dalam perkhidmatan kimpalan. Perniagaan teras utama KCK melibatkan perkhidmatan reka bentuk dan kejuruteraan dalaman untuk pelbagai projek.</p>
                                <div class="tabulation-2 mt-4">
                                    <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                        <li class="nav-item mb-md-0 mb-2">
                                            <a class="nav-link active py-2" data-toggle="tab" href="#home1">
                                                Misi</a>
                                        </li>
                                        <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                            <a class="nav-link py-2" data-toggle="tab" href="#home2">Visi</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">
                                                Nilai</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content bg-light rounded mt-2">
                                        <div class="tab-pane container p-0 active" id="home1">
                                            <p>Menjadi peneraju dalam bidang pembinaan yang menyediakan perkhidmatan pengurusan atau bangunan projek yang unggul untuk semua pengguna tidak kira bangsa, negara dan latar belakang. </p>
                                            <p>Become the world’s most efficient and profitable ready-mix concrete firm, while also serving its clients worldwide building needs and creating value for its stakeholders.</p>
                                        </div>
                                        <div class="tab-pane container p-0 fade" id="home2">
                                            <p>Memacu dan menjana nilai yang baik dalam menjadi kontraktor yang terbaik dalam menyiapkan projek dengan menggunakan alat teknologi terkini dan menyediakan perkhidmatan bermutu tinggi untuk industri pembinaan yang kompetitif. </p>
                                            <p>To become the market leader in our industry. We will continue to incorporate the most recent technological and sustainability improvements to produce competent workforce and world-class results.</p>
                                        </div>
                                        <div class="tab-pane container p-0 fade" id="home3">
                                            <p>Syarikat yang memaksimumkan penggunaan kemudahan teknologi binaan yang terkini ,menjadi proaktif dalam menjalani tren baru yang terlibat dalam projek-projek kerjasama yang besar.  </p>
                                            <p>Maximise the benefits in utilising high technology equipment and stay proactive and relevant in leading the latest trend in building commercial, residential, industrial and governmental projects.  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-counter ftco-no-pt ftco-no-pb" id="section-counter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 d-flex">
                            <div class="text d-flex align-items-center">
                                <div class="count-number">
                                    <span class="counter number"><strong>12</strong></span>+
                                </div>
                            </div>
                            <div class="text-2">
                                <span>Tahun <br>Perkhidmatan</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 d-flex">
                            <div class="text d-flex align-items-center">
                                <div class="count-number">
                                    <span class="counter number"><strong>20</strong></span>+
                                </div>
                            </div>
                            <div class="text-2">
                                <span>Projek <br>Diselesai</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 d-flex">
                            <div class="text d-flex align-items-center">
                                <div class="count-number">
                                    <span class="counter number"><strong>20</strong></span>+
                                </div>
                            </div>
                            <div class="text-2">
                                <span>Pakar Dalam<br>Pembinaan</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 d-flex">
                            <div class="text d-flex align-items-center">
                                <div class="count-number">
                                    <span class="counter number"><strong>40</strong></span>+
                                </div>
                            </div>
                            <div class="text-2">
                                <span>Mesin <br>Peralatan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Services Area Start -->
        <div class="services-area1 section-padding30">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                                <h2 class=""><span class="companyColor">Perkhidmatan</span> Kami</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="single-service-cap mb-30" data-aos="zoom-in">
                            <div class="service-img">
                                <img src="{% static 'img/service/welding.png' %}" alt="kimpalan">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "kimpalan" %}">KCK Kimpalan</a></h4>
                                <p> KCK Kimpalan membaiki, memulihkan, dan membantu membina barang-barang berasaskan logam. </p>
                                <a href="{% url 'kck:services' "kimpalan" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-service-cap mb-30" data-aos="zoom-in">
                            <div class="service-img">
                                <img src="{% static 'img/service/concrete.jpeg' %}" alt="simen">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "semix" %}">Semix</a></h4>
                                <p> KCK ReadyMix menyediakan perkhidmatan dalam sektor pembekalan konkrit untuk projek-projek yang diperlukan.</p>
                                <a href="{% url 'kck:services' "semix" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-service-cap mb-30" data-aos="zoom-in">
                            <div class="service-img">
                                <img src="{% static 'img/service/construction.jpeg' %}" alt="kontraktor">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "pembinaan" %}">KCK Pembinaan</a></h4>
                                <p> KCK Pembinaan melibat dengan projek infrastruktur seperti jalan raya, jamabatan, pembangunan dan lain-lain. </p>
                                <a href="{% url 'kck:services' "pembinaan" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="single-service-cap mb-30" data-aos="zoom-in">
                            <div class="service-img">
                                <img src="{% static 'img/service/sandevacation.jpeg' %}" alt="pasir">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "pasir" %}">KCK Pasir</a></h4>
                                <p> KCK Pasir menjalankan perniagaan pasir lombong kepada pelanggan untuk kegunaan persenderian ataupun projek. </p>
                                <a href="{% url 'kck:services' "pasir" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-service-cap mb-30" data-aos="zoom-in">
                            <div class="service-img">
                                <img src="{% static 'img/service/craneser.jpeg' %}" alt="kren">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "kren" %}">KCK Kren</a></h4>
                                <p> KCK Kren menjalankan perniagaan berasas penyewaan Kren sekaligus dengan Lori Pencampur Konkrit sebagai pakej.</p>
                                <a href="{% url 'kck:services' "kren" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="single-service-cap mb-30" data-aos="zoom-in">
                            <div class="service-img">
                                <img src="{% static 'img/service/steel.jpeg' %}" alt="kimpalan">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "fabrikasi" %}">KCK Fabrikasi </a></h4>
                                <p> KCK Fabrikasi merupakan proses pengubahsuaian logam bernilai tambah yang diperlukan dalam pembuatan struktur untuk pelbagai industri. </p>
                                <a href="{% url 'kck:services' "fabrikasi" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- contact with us Start -->
        <section class="contact-with-area" data-background="{%static '/img/gallery/cr.jpeg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-9 offset-xl-1 offset-lg-1">
                        <div class="contact-us-caption" data-aos="zoom-in" data-aos-duration="2500">
                            <div class="team-info mb-30 pt-45">
                                <!-- Section Tittle -->
                                <div class="section-tittle section-tittle4">
                                    <div class="front-text">
                                        <h2 class="contact-us-h2">Berhubung dengan kami</h2>
                                    </div>
                                </div>
                                <p>E-mel kepada kami kckokengineering@gmail.com untuk sebarang pertanyaan atau panggilan. kami akan menjawab segala soalan dan pernyataan anda tentang produk kami.</p>
                                <a href="{% url 'kck:contact' %}" class="white-btn">Contact Us NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact with us End-->
        <!-- CountDown Area Start -->
        <div class="count-area">
            <div class="container">
                <div class="count-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="count-clients">
                                <div class="single-counter text-left">
                                    <div class="count-number">
                                        <span class="counter">15</span>
                                    </div>
                                    <div class="count-text">
                                        <p>Lori</p>
                                        <h5>Simen</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="count-clients">
                                <div class="single-counter text-left">
                                    <div class="count-number">
                                        <span class="counter">5</span>
                                    </div>
                                    <div class="count-text">
                                        <p>Lori</p>
                                        <h5>Pasir</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="count-clients">
                                <div class="single-counter text-left">
                                    <div class="count-number">
                                        <span class="counter">7</span>
                                    </div>
                                    <div class="count-text">
                                        <p>Lori</p>
                                        <h5>Kren</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CountDown Area End -->
        <!-- Testimonial Start -->
        <div class="testimonial-area t-bg testimonial-padding">
            <div class="container ">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle6 mb-50">
                            <div class="front-text">
                                <h2 class="t-h2"><span class="companyColor">Testimoni</span></h2>
                            </div>
                            <span class="back-text">Feedback</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-10 col-lg-11 col-md-10 offset-xl-1">
                        <div class="h1-testimonial-active" data-aos="zoom-out-left" data-aos-duration="2500">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <!-- SVG icon -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                            <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(192, 118, 43)"
                                                fill-opacity="0" fill="rgb(0, 0, 0)"
                                                d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                        </svg>
                                        <p>Matlamat terpenting kami adalah untuk membuat pelanggan kami gembira. Untuk mencapai matlamat ini, kami mendengarkan dugaan, cabaran, dan tujuan anda dan memfokuskan usaha kami untuk memastikan bahawa kami memberikan hasil projek yang berkualiti, tepat pada waktunya dan dengan anggaran yang mempertimbangkan objektif terpenting anda. </br> Kami bangga dengan reputasi KCK sebagai kontraktor umum yang jujur ​​dan beretika yang memberikan perkhidmatan dan kualiti yang luar biasa. Kami menjemput pelanggan-pelanggan kami untuk meninjau beberapa komen dari banyak pelanggan kami yang berpuas hati.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-text">
                                            <span> Akok </span>
                                            <p>Pengasas Syarikat</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <!-- SVG icon -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                            <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(192, 118, 43)"
                                                fill-opacity="0" fill="rgb(0, 0, 0)"
                                                d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                        </svg>
                                        <p>Kami sangat gembira dengan rumah kami yang telah siap dibina. Keahlian dan kualiti pembinaannya luar biasa. Kami mengaitkan pembinaan yang sangat baik ini dengan profesionalisme dan kecekapan Kontraktor Projek</p>
                                    </div>
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-text">
                                            <span> Azri </span>
                                            <p>Ex-pelanggan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <!-- SVG icon -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                            <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(192, 118, 43)"
                                                fill-opacity="0" fill="rgb(0, 0, 0)"
                                                d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                        </svg>
                                        <p>KCK adalah salah satu kontraktor am terbaik yang pernah kami bekerjasama. Seluruh pasukan secara bijaksana menyampaikan projek dengan kualiti yang luar biasa sambil tetap mengikut jadual dan anggaran yang rendah. Kami berharap dapat bekerjasama dengan KCK lagi di masa hadapan.</p>
                                    </div>
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-text">
                                            <span>Ahmed Zakri</span>
                                            <p>Kontraktor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <!-- SVG icon -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                            <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(192, 118, 43)"
                                                fill-opacity="0" fill="rgb(0, 0, 0)"
                                                d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                        </svg>
                                        <p>Terima kasih kerana membimbing kami melalui proses pembinaan, bersikap baik, memahami, dan sentiasa bersedia untuk memenuhi keperluan kami. Kami menyukai ruang baru kami dan tahu bahawa ia dibina dengan yang terbaik!</p>
                                    </div>
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-text">
                                            <span> Asif</span>
                                            <p>Ex-pelanggan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <!-- SVG icon -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                            <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(192, 118, 43)"
                                                fill-opacity="0" fill="rgb(0, 0, 0)"
                                                d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                        </svg>
                                        <p>KCK adalah salah satu kontraktor am terbaik yang pernah kami bekerjasama. Seluruh pasukan secara bijaksana menyampaikan projek dengan kualiti yang luar biasa sambil tetap mengikut jadual dan anggaran yang rendah. Kami berharap dapat bekerjasama dengan KCK lagi di masa hadapan.</p>
                                    </div>
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-text">
                                            <span> Hadif </span>
                                            <p>Ex-pelanggan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

    </main>
{% endblock %}
