{% load static %}

{% load compress %}
<!DOCTYPE html>
<html lang="ms">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PW9L4K5GPN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-PW9L4K5GPN');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description"
        content="KCK KOK ENGINEERING adalah sebuah syarikat yang berada di Jerteh Terengganu, ditubuhkan pada tahun 1997, sudah berkhidmat 8 tahun dalam industri konkrit dan 20 tahun dalam perkhidmatan kimpalan.">
    <meta name="keywords"
        content="kck kok engineering, simen, kck kren, kck simen, kck readymix, kck jerteh, kok engineering, kckok, simen setiu, simen kampung raja, kck kampung raja, kck kren, concrete kampung raja, concrete jerteh, batu pembinaan, batu, mesin lay, pasir, pasir pembinaan, crane service">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="facebook-domain-verification" content="iafdmnej033a9az3l66om38vq6hcsa" />
    <!-- OG -->
    {% block og %}
    {% endblock %}

    <!-- Author -->
    <meta name='author' content='Weei Waai Khor (Delvin)'>

    <link rel="manifest" href="site.webmanifest">

    <!-- Tab bar icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/kcklogo.png' %}">

    <!-- CSS here -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 320px) and (max-device-width: 500px)"
        href="{% static 'css/mobile.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 501px) and (max-device-width:1024px)"
        href="{% static 'css/tablet.css' %}" />
    {% endcompress %}

    <!-- Main CSS File - Witout Compression -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <div id="preloader-active">
        <div class="preloader d-flex flex-column align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/kcklogo.png' %}" alt="kck">
                    <p class="font-weight-bold companyColor mb-0 pt-7">KCK</p>
                    <small class="uppercase companyColor font-barlow">Kok Engineering</small>
                </div>
            </div>
            <h3 class="pt-10 font-roboto companyColor text-center"> Repurposing spaces. </h3>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Description -->
        <!-- Popup -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal fade" id="myModal" tabindex="-2" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg m-3 mx-auto modal-dialog-centered" role="document">
                            <div class="modal-content rounded">
                                <div
                                    class="row d-flex justiy-content-between align-items-center modal-header border-0 m-2">
                                    <div class="col-10 align-self-center">
                                        <div class="d-inline-flex my-auto">
                                            <img src="{% static 'img/icon/Gift.svg' %}" alt="gift">
                                            <h4 class="my-auto">Discount offer: RM100 off</h4>
                                        </div>
                                    </div>
                                    <!--Close/Cross Button-->
                                    <div class="col-2 align-self-center">
                                        <button type="button" class="close companyColor p-0 m-0"
                                            data-bs-dismiss="modal">
                                            <h3>&times;</h3>
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-body p-0 font-poppin">
                                    <div class="d-block main-content">
                                        <div class="row mx-0 d-none d-lg-inline-flex">
                                            <div class="col-lg-6 px-0">
                                                <img src="{% static 'img/gallery/cr.jpeg' %}" alt="background"
                                                    class="img-fluid opacity-75">
                                            </div>
                                            <div class="col-lg-6 d-flex align-items-center justify-content-center"
                                                style="background: rgba(192, 116, 43, 0.7);">
                                                <h1 class="text-center my-auto font-weight-bold font-roboto black-color"
                                                    style="color: black;"> BAUCAR!<br>RM100 OFF.</h1>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <div class="col-lg-6 d-flex align-items-center justify-content-center"
                                                style="background: rgba(192, 116, 43, 0.7);">
                                                <h1 class="text-center my-auto font-weight-bold font-roboto"> BAUCAR!
                                                </h1>
                                            </div>
                                            <div class="col-lg-6 px-0">
                                                <img src="{% static 'img/gallery/cranee.jpeg' %}" alt="background"
                                                    class="img-fluid opacity-75">
                                            </div>
                                        </div>
                                        <div class="content-text p-4">
                                            <h3 class="mb-4 font-roboto"> Baucar berharga RM100 kepada 10 pelanggan
                                                pertama!!</h3>
                                            <div style="background: rgba(40,167,69, 0.7);">
                                                <h4 class="p-2 text-center"> Baucar ini hanya boleh dipakai untuk
                                                    konkrit sahaja. </h4>
                                            </div>
                                            <p class="mb-4"> 4 Langkah Untuk Menang: </p>
                                            <ul class="list-group">
                                                <li class="list-group-item justify-content-start align-items-center">
                                                    <span class="badge rounded-pill companyColor mr-3">1.</span>
                                                    Copy descripsi di <button role="button" id="btn-description"
                                                        class="bg-transparent border border-info rounded cursor-pointer ">
                                                        sini </button>
                                                </li>
                                                <div class="container" style="display: none;"
                                                    id="description-container">
                                                    <p id="description-content" class="p-3">
                                                        Baucer istimewa untuk semua pembina, pemaju.
                                                        </br>
                                                        </br>
                                                        Kepada Pelanggan yang dihormati sekalian,
                                                        </br>
                                                        </br>
                                                        KCK KOK ENGINEERING MENGADAKAN KEMPEN BAUCAR BERNILAI SEHINGGA
                                                        RM100!!
                                                        </br>
                                                        </br>
                                                        Ini telah dibina selama berbulan-bulan dan tarikh pelancaran
                                                        akhirnya tiba! Saya dengan bangganya mengumumkan bahawa laman
                                                        web KCK kini disiarkan secara langsung dan terletak di alamat:
                                                        </br>
                                                        </br>
                                                        https://www.kckok.my
                                                        </br>
                                                        KCK KOK ENGINEERING, ditubuhkan pada tahun 1993 yang berasas di
                                                        lokasi Besut, sudah berkhidmat hampir 12 tahun dalam industri
                                                        konkrit siap pakai dan hampir 20 tahun dalam perkhidmatan
                                                        kimpalan (mesin-lay) berasas logam. Project utama KCK dalam
                                                        sektor pembinaan melibatkan perkhidmatan struktur reka bentuk
                                                        (infra), kejuruteraan pembangunan dan kemudahan infrastruktur.
                                                        </br>
                                                        </br>
                                                        Di KCK, kami berusaha untuk menjadikan sebuah syarikat yang
                                                        merealisasikan cara alternatif kepada semua para pelanggan dari
                                                        bandar ataupun luar bandar yang ingin menjadikan tanah kosong
                                                        menjadi sebuah ruang yang manfaat kepada semua pihak pengguna
                                                        dengan mudah dan boleh diakses melalui perkhidmatan dan sumber
                                                        kami, tanpa mengira saiz projek.
                                                        </br>
                                                        </br>
                                                        Dalam laman web ini, anda akan dapati
                                                        - pekerjaan
                                                        - blog
                                                        - kenaikan pangkat
                                                        - perkhidmatan kami
                                                        - portfolio syarikat
                                                        </br>
                                                        </br>
                                                        Matlamat kami pada pelancaran laman web ini adalah untuk
                                                        menjadikan perkhidmatan kami boleh diakses di mana-mana, pada
                                                        bila-bila masa dengan cara yang paling mudah. Jika anda sendiri
                                                        seorang pembina, kami mengalu-alukan anda untuk melihat halaman
                                                        web kami kerana saya percaya anda boleh menemui sesuatu yang
                                                        sangat bermanfaat.
                                                        </br>
                                                    </p>
                                                    <div class="d-flex justify-content-center">
                                                        <button onclick="copyData('description-content');"
                                                            class="btn font-medium uppercase  transition shadow ripple bg-gray-100 bg-white text-dark my-2 hover:shadow-lg  mx-auto">
                                                            Copy </button>
                                                    </div>
                                                </div>
                                                <li
                                                    class="list-group-item d-flex justify-content-start align-items-center">
                                                    <span class="badge rounded-pill companyColor mr-3">2.</span>
                                                    Kongsikan post dengan discripsinya di <a
                                                        href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2Fshare-button%2Fkckok.my&display=popup&ref=plugin&src=share_button"
                                                        class="mx-2 bg-transparent border close-hover border-info rounded cursor-pointer"
                                                        style="padding: 1px 6px;"> sini </a>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-start align-items-center">
                                                    <span class="badge rounded-pill companyColor mr-3">3.</span>
                                                    Kumpul sekurang-kurangnya 20 'likes'
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-start align-items-center">
                                                    <span class="badge rounded-pill companyColor mr-3">4.</span>
                                                    Tunjukkan tangkapan skrin (screenshot) kepada kerani kami sebagai
                                                    tanda bukti sebelum membayar
                                                </li>
                                                <li
                                                    class="list-group-item d-flex bg-danger justify-content-start align-items-center white-color">
                                                    AMARAN!! SETIAP ORANG MEMPUNYAI SATU PENYERTAAN SAHAJA!!
                                                </li>
                                            </ul>
                                            <div class="d-flex mt-2">
                                                <div class="ml-auto justify-content-between">
                                                    <a class="btn btn-link bg-transparent" data-bs-dismiss="modal">Tutup
                                                        <span style="font-size: 1.25rem;">&times;</span></a>
                                                    <a href="{% url 'kck:voucher' %}"
                                                        class="btn btn-primary">Berminat!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12 col-md-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li>+(60) 12-988 6348 (AKOK)</li>
                                        <li>kckokengineering@gmail.com</li>
                                        <li>Ahad - Sabtu 8:00 - 17:30, Friday - CLOSED</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="https://www.instagram.com/kck.kok/"><i
                                                    class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/kckokengineering"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-between align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-10 pl-0 pl-sm-0">
                                <div class="logo">
                                    <a class="navbar-brand" href="{% url 'kck:index' %}">KCK <span>KOK
                                        </span> ENGINEERING</a>
                                </div>

                            </div>
                            <div class="col-lg-10">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-xl-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'kck:index' %}">Utama 🏠</a></li>
                                            <li><a href="{% url 'kck:about' %}">Tentang Kami </a></li>
                                            <li><a href="{% url 'kck:project' %}">Projek </a></li>
                                            <li><a href="{% url 'kck:services' %}">Perkhidmatan </a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'kck:services' "kimpalan" %}">KCK
                                                            Kimpalan</a></li>
                                                    <li><a href="{% url 'kck:services' "semix" %}">Semix</a>
                                                    </li>
                                                    <li><a href="{% url 'kck:services' "pembinaan" %}">KCK
                                                            Pembinaan</a></li>
                                                    <li><a href="{% url 'kck:services' "pasir" %}">KCK Pasir</a>
                                                    </li>
                                                    <li><a href="{% url 'kck:services' "kren" %}">KCK
                                                            Mobil-Kren</a></li>
                                                    <li><a href="{% url 'kck:services' "fabrikasi" %}">KCK
                                                            Fabrikasi</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'kck:blog' %}">Blog </a></li>
                                            <li><a href="{% url 'kck:career' %}">Jawatan </a></li>
                                            <li><a href="{% url 'kck:contact' %}" class="p-3 contact-button">Hubungi
                                                    Sekarang!</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <div class="info-right sticky-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=60127288433" class="info-whatsapp">
            <i class="fab fa-whatsapp my-auto"></i>
        </a>
        <div class="fixed-whatsapp mt-1">
            <h6 class="white-color bold">KCK</h6>
        </div>
    </div>
    {% block body %}
    <!-- ANYTHING GOES HERE -->
    {% endblock %}

    <footer>
        <!-- Footer Start-->
        <div class="footer-main">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-md-12 col-sm-8">
                            <div class="single-footer-caption mb-30 text-center">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img class="align-middle"
                                            src="{%static 'img/logo/kcklogo.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">KCK KOK ENGINEERING, ditubuhkan pada tahun 1997, sudah
                                            berkhidmat 8 tahun dalam industri konkrit dan 20 tahun dalam perkhidmatan
                                            kimpalan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Alternatif</h4>
                                    <ul>
                                        <li><a href="{% url 'kck:about' %}">Tentang Kami</a></li>
                                        <li><a href="{% url 'kck:services' %}">Perkhidmatan</a></li>
                                        <li><a href="{% url 'kck:project' %}">Projek</a></li>
                                        <li><a href="{% url 'kck:blog' %}">Blog </a></li>
                                        <li><a href="{% url 'kck:contact' %}">Hubungi Kami </a></li>
                                        <li><a href="{% url 'kck:career' %}">Jawatan </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Hubungi Kami</h4>
                                    <ul>
                                        <li><a href="https://api.whatsapp.com/send?phone=60127288433">Whatsapp: 012 728 8433</a></li>
                                    </ul>
                                    <div class="footer-pera">
                                        <p class="info1">Lot 2959, Kampung Padang Landak 22000 Jerteh, Terengganu</p>
                                        <p class="info1">23, Jln Haji Omar, Kampung Raja
                                            22200 Besut, Terengganu</p>
                                        <p class="info1"> Kampung Anak Ikan, 22020 Jerteh
                                            22200 Besut, Terengganu</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Terms</h4>
                                    <ul>
                                        <li><a href="{% url 'kck:semix_terms' %}">Terms and Conditions Sales</a></li>
                                        <li><a href="{% url 'kck:semix_whistle' %}">Whistle blowing Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Map -->
                            <div class="map-footer mb-10">
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="100%" height="290" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=Kck%20kok%20engineering&t=&z=9&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 290px;
                                                width: 100%%;
                                            }
                                        </style><a href="https://www.embedgooglemap.net">embed google maps iframe</a>
                                        <style>
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 290px;
                                                width: 100%%;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <!-- Map End -->
                        </div>
                    </div>
                    <div class="footer-info" style="background: #c0762b; color: white;border-radius: 20px; opacity: 0.85;">
                        <div class="col-sm-12 col-12">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="header-info-left">
                                    <ul class="d-flex flex-column text-center pt-20 pb-20 justify-content-center">
                                        <li>+(60) 12-988 6348 (AKOK)</li>
                                        <li>hello@kckok.my</li>
                                        <li>Ahad - Sabtu 8:00 - 17:30, Friday - CLOSED</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12 pb-20">
                            <div class="row d-flex justify-content-center">
                                <div class="header-info-right">
                                    <ul class="header-social d-inline-flex justify-content-center">
                                        <li class="pl-10 pr-10">
                                            <a href="https://www.instagram.com/kck.kok/"
                                                style="color: black;font-size: 24px;">
                                                <u><i class="fab fa-instagram"></i></u>
                                            </a>
                                        </li>
                                        <li class="pl-10 pr-10"><a href="https://www.facebook.com/kckokengineering"
                                                style="color: black;font-size: 24px;">
                                                <u><i class="fab fa-facebook-f"></i></u>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Copy-Right -->
                    <div class="row align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right">
                                <p class="text-center">
                                    Copyright &copy;<script>
                                        document.write(new Date().getFullYear() + " ");
                                    </script> All rights reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    {% compress js %}
    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- Date Picker -->
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- Scrollup, nice-select, sticky-->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    {% endcompress %}
    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    {% compress js %}
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static '/js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'js/timeline.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'js/plugins.js' %}"></script>
    {% endcompress %}
    <!-- Main Javascript File - Without Compression -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@latest/lib/typed.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        function copyData(containerid) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid)); //changed here
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
            alert('Copied!');
        }
    </script>
    <script>
        AOS.init();
    </script>
    <script>
        <!-- Optional Javascript Files 
        -->
        {
            % block js %
        }
        {
            % endblock %
        }

</body>

</html>