{% extends "kck2021/layout.html" %}
{% load static %}
{% block title%}KCK KOK ENGINEERING SDN BHD | Project | {{project.title }}{% endblock %}

{% block og %}
<meta property="og:url" content="http://kckok.my" />
<meta property="og:type" content="website" />
<meta property="og:title" content="KCK Kok Engineering SDN BHD | Projek | {{ project.title }}" />
<meta property="og:description" content="KCK KOK ENGINEERING, ditubuhkan pada tahun 1993 yang berasas di lokasi Besut, sudah berkhidmat hampir 12 tahun dalam industri konkrit siap pakai dan hampir 20 tahun dalam perkhidmatan kimpalan (mesin-lay) berasas logam" />
<meta property="og:image" content="{{ request.get_host }}{{ project.openingImage.url }}" />
{% endblock %}
{% block body %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" style="background-image: url({% static 'img/hero/about.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>{{ project.title }}</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'kck:index' %}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">{{ project.title }}</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Services Details Start -->

        
        <div class="services-details-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
    
                        <div class="single-services section-padding2">
                            <div class="image-gallery mb-40 text-center">
                                <img src="{{ project.openingImage.url }}" alt={{ project.title }}>
                            </div>
                            <div class="details-caption">

                                <p class="mb-50"> {{ project.projectIntro|safe }} </p>
                                <div class="text-center">
                                    <h3 class="pt-25 pb-25">PROJEK AWEK</h3>
                                    <p class="mt-25 mb-25 mx-auto">{{ project.mission }}</p>

                                    <h3 class="pt-25 pb-25">Tempat Lokasi</h3>
                                    <p class="pt-25 pb-25 mx-auto  ">{{ project.location }}</p>

                                    <h3 class="pt-25 pb-25">Nilai Projek</h3>
                                    <p class="pt-25 pb-25 mx-auto "> RM {{ project.value }}M </p>
                                    <h3 class="pt-25 pb-25">Urusan Kerja KCK </h3>
                                    <ul class="list-group">
                                        {% for job in project.jobType.all %}
                                        <li class="list-group-item mb-10 success-color">{{ job }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Details End -->
    </main>
{% endblock %}
