{% extends "kck2021/layout.html" %}
{% load static %}
{% block title%}KCK KOK ENGINEERING SDN BHD | Semix | Whistle Blowing Policy {% endblock %}

{% block og %}
<meta property="og:url" content="http://kckok.my" />
<meta property="og:type" content="website" />
<meta property="og:title" content="KCK Kok Engineering SDN BHD | Services" />
<meta property="og:description" content="KCK KOK ENGINEERING, ditubuhkan pada tahun 1993 yang berasas di lokasi Besut, sudah berkhidmat hampir 12 tahun dalam industri konkrit siap pakai dan hampir 20 tahun dalam perkhidmatan kimpalan (mesin-lay) berasas logam" />
<meta property="og:image" content="http://kckok.my/static/img/hero/background-2.jpg" />
{% endblock %}

{% block body %}
<main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" style="background-image: url({% static 'img/hero/about.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>Whistle Blowing Policy </h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'kck:index' %}">Utama 🏠</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'kck:services' "semix" %}">Semix</a></li> 
                                        <li class="breadcrumb-item"><a href="{% url 'kck:semix_whistle' %}"> Whistle Blowing Policy</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-area1 section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 pl-0">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                                <h2>Whistle Blowing Policy </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <ol class="list-group">
                                <h5><li class="list-number">INTRODUCTION </li></h5>
                                <ol class="list-group">
                                    <li><p>a. The Board and Management of <span class="font-weight-bold">Semix Sdn. Bhd.</span> ("SEMIX") and its subsidiaries and/or group of companies ("SEMIX Group") are committed to upholding and achieving a high standard of corporate governance, integrity, openness, and accountability in the conduct of its business and operation, in accordance with good corporate governance practises and with the introduction of the Whistleblower Protection Act 2010 (the "Whistleblower Protection Act"). </p></li>
                                    <li><p>b. This policy is applicable to all SEMIX and SEMIX’s employees, whether they are full- or part-time, permanent or contract. This policy also encourages anybody doing business with SEMIX Group, including Directors, Shareholders, Consultants, Vendors, Contractors, external agencies, and others, to report or reveal any misconduct that might negatively affect the Company. </p></li>
                                    <li><p>c. To assure that the SEMIX is effectively implementing this policy, it may be periodically reviewed and changed. </p></li>
                                </ol>
                                <h5><li class="list-number">OBJECTIVE </li></h5>
                                <ol class="list-group">
                                    <li><p>The purpose of this Policy is to encourage high standards of corporate governance and support the Company's values by providing a method for any Reporting Individual to submit concerns about any suspected and/or known misconduct, wrongdoing, corruption, fraud, breach of the Company's code of conduct, and/or abuse of law or regulatory requirements that they are becoming aware of. This Policy also ensures that the Reporting Individual who discloses accusations of such malpractice or misconduct will be held accountable. </p></li>
                                </ol>
                                <h5><li class="list-number">WHISTLEBLOWING </li></h5>
                                <ol class="list-group">
                                    <li><p>a. The meaning of the word "whistleblowing" refers to a specific method by which a Reporting Individual can report or disclose, through appropriate channels, concerns about actual, potential, or suspected violations of the Code of Conduct, unethical behaviour, malpractices, illegal acts, or noncompliance with law or regulatory requirements. </p></li>
                                    <li><p>b. The whistleblower processes should only be used to disclose legitimate concerns. This report should be provided in good faith, with no bad intentions other than a reasonable conviction that the facts and any allegations included within are substantially true. No individual shall be entitled to any protection under this Policy if such person has not behaved in good faith. False and malicious accusations made by the reporting person will be taken seriously, characterised as severe misconduct, and, if proven, might result in the whistleblower abusing the system being terminated. </p></li>
                                </ol>
                                <h5><li class="list-number">PROCEDURES FOR REPORTING </li></h5>
                                <ol class="list-group">
                                    <ol class="list-group">
                                        <li><p>a. A issue should always be brought up with the immediate superior. In the event that this is deemed to be impractical or inappropriate for any reason, the person who desires to file a complaint may do so in writing by using the form included at ANNEX A , which is annexed to this policy, and submitting it through the appropriate reporting channel as follows:</p></li>
                                        <li>
                                            <ol class="list-group pl-15 pb-15">
                                                <li><span class="font-weight-bold">></span> Human Resource Department  </li>
                                                <li>Attention To: <span class="font-weight-bold"> Manager </span></li>
                                                <li><span class="font-weight-bold"> Semix Sdn. Bhd. </span></li>
                                                <li><span class="font-weight-bold"> </span> Lot 2959, Kampung Padang Landak </li>
                                                <li><span class="font-weight-bold"> </span> 22000 Jerteh  </li>
                                                <li><span class="font-weight-bold"> </span> Terengganu Darul Iman</li>  
                                            </ol>
                                        </li>
                                        <li><p>b. Whenever possible, allegations of corruption must be confirmed or supported by documented proof, information about the people who may confirm the disclosures, or both.</p></li>
                                        <li><p>c. Anonymous disclosures won't be taken into consideration since they might impede an investigation and the Company's ability to verify the disclosure's veracity. Additionally, the whistleblower will not get any the necessary protection if they stay confidential. The Company does, however, maintain the right to look into an anonymous disclosure.</p></li>
                                    </ol>
                                </ol>
                                <h5><li class="list-number">Action</li></h5>
                                <ol class="list-group">
                                    <li><p>a. The person who receives the complaint or disclosure will immediately begin or complete all preliminary investigations. An independent investigative team may be formed to carry out a more thorough inquiry into the topic, depending on the complexity of the situation, the subject, and the seriousness of the alleged misbehaviour. The reporting person will be made aware of who is in charge of the situation, how to get in touch with them, and, if necessary, will be provided additional support from the relevant SEMIX Group departments.</p></li>
                                    <li><p>b. As soon as the investigation is finished, the Board will receive a recommendation for the best course of action for consideration no later than at the subsequent scheduled meeting. In accordance with the Board's decision, the following steps may be taken: i. disciplinary action; ii. closing the case; iii. reporting the issue to the proper parties, such as in situations not involving the Company; and/or iv. special actions the investigator and Board may determine appropriate.</p></li>
                                </ol>
                                <h5><li class="list-number">CONFIDENTIALITY</li></h5>
                                <ol class="list-group">
                                    <li><p>a. The Company will regard any reports or disclosures as confidential and will only share information with those who have a "need to know" basis or where it is required by a court, government agency, or for investigative purposes. Unless the reporting person chooses to expose his or her name, the identity and other details of the reporting person shall otherwise be kept secret and confidential.</p></li>
                                    <li><p>b. It is the policy of the Company that no employee who makes a good faith report will be subject to any form of retaliatory action, including but not limited to termination, victimisation, demotion, suspension, harassment, or any action causing injury, loss, or other Detrimental Action ("Detrimental Action").</p></li>
                                    <li><p>c. Any Reporting Individual who experienced Detrimental Action as a result of making a valid report in accordance with this Policy may file a complaint using the channels described in the section referred to as "PROCEDURES OF REPORTING," and the same investigative procedures will be followed for any such complaints of Detrimental Action. A worker who takes any particular action against another worker who has reported something in good faith will face disciplinary action.</p></li>
                                </ol>
                                <a href="https://drive.google.com/file/d/1rwyXPb0PDminZtSONOiXxoj-uRyxJiny/view?usp=sharing" class="btn font-weight-bold"><i class="fa fa-download" aria-hidden="true">Whistleblower form</i></a>
                                <h5 class="text-center py-5">8 December 2022</h5>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}