{% extends "kck2021/layout.html" %}
{% load static %}
{% block title%}KCK KOK ENGINEERING SDN BHD | Services | Sand {% endblock %}

{% block og %}
<meta property="og:url" content="http://kckok.my" />
<meta property="og:type" content="website" />
<meta property="og:title" content="KCK Kok Engineering SDN BHD | Services | Sand" />
<meta property="og:description" content="KCK KOK ENGINEERING, ditubuhkan pada tahun 1993 yang berasas di lokasi Besut, sudah berkhidmat hampir 12 tahun dalam industri konkrit siap pakai dan hampir 20 tahun dalam perkhidmatan kimpalan (mesin-lay) berasas logam" />
<meta property="og:image" content="http://kckok.my/static/img/hero/background-2.jpg" />
{% endblock %}

{% block body %}
<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
            data-background="{% static 'img/gallery/sandevacation.jpeg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8">
                        <div class="hero-cap hero-cap2 pt-120">
                            <h2>KCK Pasir</h2>
                            <nav aria-label="breadcrumb ">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'kck:services' %}"> Perkhidmatan</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'kck:services' "kren" %}"> KCK Pasir</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Services Details Start -->
    <div class="services-details-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-services section-padding2">
                        <div class="details-img mb-40">
                            <img src="{% static 'img/service/excavation-truck.jpeg' %}" alt="kren">
                        </div>
                        <div class="details-caption">
                            <div class="row">
                                <div class="col-12 ringing">
                                    <div class="services-quality card mb-3" >
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img d-inline-flex text-center">
                                                <img src="{% static 'img/icon/bell.svg' %}">
                                                <h2 class="my-auto">PROMOSI</h2>
                                                <img src="{% static 'img/icon/bell.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center" style="background: linear-gradient(124deg, rgba(192,135,43,0.5) 26%, rgba(87,55,106,0.5) 72%);">
                                            <h5 class="card-title font-weight-bold">Kemudahan pembekalan bahan pembinaan diberi seperti konkrit, pasir, batu dan kren sebagai pakej</h5>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                            <p>
                                KCK Pasir sudah beroperasi hampir 15 tahun sebagai pusat pembekal pasir di lokasi Terengganu dan Kelantan kepada tuan rumah, pusat pembina ataupun kontraktor yang ingin mendiri bangunan.
                                tumpuan kami adalah untuk menyediakan perkhidmatan tempatan premium sambil menawarkan harga yang kompetitif. Sama ada anda sedang membina, landskap atau menyiapkan projek DIY, pasukan mesra kami komited untuk menyediakan perkhidmatan profesional setiap masa. </p>
                            <p>Pasukan kami boleh menyediakan penyelesaian inovatif untuk membantu memenuhi keperluan
                                anda mengenai penutupan utama dan pekerjaan pakar.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-in">
                                <div class="services-quality card mb-3" >
                                    <div class="icon d-flex check justify-content-center align-items-center">
                                        <img src="{% static 'img/service/pasir-sedang.jpeg' %}" alt="pasir sedang"style="width:100%; max-height: 280px; object-fit:cover;">
                                    </div>
                                    <div class="card-header text-primary text-center">
                                        <h5 class="card-title my-auto py-2 font-weight-bold companyColor">Pasir Sedang</h5>
                                    </div>
                                    <div class="card-body p-1">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item pasir-hover">Konkrit</li>
                                            <li class="list-group-item pasir-hover">Cerucuk Bangunan (Struktur)</li>
                                            <li class="list-group-item pasir-hover">Ready-mix</li>
                                          </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-in">
                                <div class="services-quality card mb-3" >
                                    <div class="icon d-flex check justify-content-center align-items-center">
                                        <img src="{% static 'img/service/pasir-kotor.jpeg' %}" alt="pasir kotor" style="width:100%; max-height: 280px; object-fit:cover;">
                                    </div>
                                    <div class="card-header text-primary text-center">
                                        <h5 class="card-title my-auto py-2 font-weight-bold companyColor">Pasir Kotor</h5>
                                    </div>
                                    <div class="card-body p-1">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item pasir-hover pasir-hover">Konkrit</li>
                                            <li class="list-group-item pasir-hover">Bata 🧱</li>
                                            <li class="list-group-item pasir-hover pasir-hover">Plaster</li>
                                          </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-in">
                                <div class="services-quality card mb-3" >
                                    <div class="icon d-flex check justify-content-center align-items-center">
                                        <img src="{% static 'img/service/plaster-sand.jpeg' %}" alt="pasir plaster" style="width:100%; max-height: 280px; object-fit:cover;">
                                    </div>
                                    <div class="card-header text-primary text-center">
                                        <h5 class="card-title my-auto py-2 font-weight-bold companyColor">Pasir Halus</h5>
                                    </div>
                                    <div class="card-body p-1">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item pasir-hover pasir-hover">Plaster</li>
                                            <li class="list-group-item pasir-hover pasir-hover">Bata 🧱</li>
                                            <li class="list-group-item pasir-hover pasir-hover">Asas Bangunan</li>
                                          </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h2>Bagaimana kita dapat bantu?</h2>
                        <p>Di KCK kami mempunyai pilihan pasir terbaik untuk membantu anda dengan semua keperluan landskap, bangunan dan pengubahsuaian anda. Dengan pasukan kami yang mesra dan pakar tersedia 7 hari seminggu, kami yakin anda akan menemui penyelesaian yang logik dan kos rendah.                        </p>
                        <p>Jika anda berminat untuk tempuh, terdapat lima komponen dalam perkhidmatan pembekal
                            konkrit iaitu:</p>
                        <div class="container py-2 mt-4 mb-4">

                            <h2 class="font-weight-bold companyColor">Jika berminat. </h2>
                            <div class="row">
                                <!-- timeline item 1 left dot -->
                                <div class="col-auto text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-badge border-company">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right-company">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col py-2">
                                    <div class="card">
                                        <div class="card-body border-company p-3">
                                            <h4 class="card-title phase-icon my-auto"> <img
                                                    src="{% static 'img/icon/whatsapp.svg' %}"> Permintaan Sebut Harga
                                                Memalui Whatsapp</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right-company">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-badge border-company">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right-company">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col py-2">
                                    <div class="card">
                                        <div class="card-body border-company p-3">
                                            <h4 class="card-title phase-icon my-auto"> <img
                                                    src="{% static 'img/icon/calendar.svg' %}"> Cadangkan Masa yang
                                                sesuai untuk penghantaran</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right-company">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-badge border-company">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right-company">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col py-2">
                                    <div class="card">
                                        <div class="card-body border-company p-3">
                                            <h4 class="card-title phase-icon my-auto"> <img
                                                    src="{% static 'img/icon/cash.svg' %}"> Membuat Bayaran</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <!-- timeline item 4 -->
                            <div class="row">
                                <div class="col-auto text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right-company">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-badge border-company">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col py-2">
                                    <div class="card">
                                        <div class="card-body border-company p-3">
                                            <h4 class="card-title phase-icon my-auto"> <img
                                                    src="{% static 'img/icon/truck.svg' %}"> Penerimaan produk anda</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="mb-5">Perkhidmatan Lain</h1>
                    <div class="row more-services d-flex justify-content-between mb-5 companyColor">
                        <div class="service-col col-lg-3 col-md-4 col-sm-6 mb-2" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-out">
                            <a href="{% url 'kck:services' "semix" %}">
        
                            <div class="service-col card card" >
                                <div class="card-img" style="overflow:hidden;">
                                    <img src="{% static 'img/service/crane.jpeg' %}" alt="semix concrete">
                                </div>
                                <div class="card-body">
                                    <p class="card-text companyColor">Semix Concrete</p>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="service-col col-lg-3 col-md-4 col-sm-6 mb-2" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-out">
                            <a href="{% url 'kck:services' "kren" %}">
                            <div class="card">
                                <div class="card-img" style="overflow:hidden;">
                                    <img src="{% static 'img/gallery/cr.jpeg' %}" class="card-img-top" alt="crane">
                                </div>
                                <div class="card-body">
                                    <p class="card-text companyColor">KCK Mobil-Kren</p>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="service-col col-lg-3 col-md-4 col-sm-6 mb-2" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-out">
                            <a href="{% url 'kck:services' "kimpalan" %}">
                            <div class="card">
                                <div class="card-img" style="overflow:hidden;">
                                    <img src="{% static 'img/service/lathe-machine.jpeg' %}" class="card-img-top" alt="product kimpalan">
                                </div>
                                <div class="card-body">
                                    <p class="card-text companyColor">KCK Kimpalan</p>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="service-col col-lg-3 col-md-4 col-sm-6 mb-2" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-out">
                            <a href="{% url 'kck:services' "longarm" %}">
                            <div class="card">
                                <div class="card-img" style="overflow:hidden;">
                                    <img src="{% static 'img/service/long_arm.jpeg' %}" class="card-img-top" alt="product long arm excavator">
                                </div>
                                <div class="card-body">
                                    <p class="card-text companyColor">Long Arm Excavator</p>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Details End -->
</main>
{% endblock %}