{% extends "kck2021/layout.html" %}
{% load static %}
{% block title%}KCK KOK ENGINEERING SDN BHD | Services {% endblock %}

{% block og %}
<meta property="og:url" content="http://kckok.my" />
<meta property="og:type" content="website" />
<meta property="og:title" content="KCK Kok Engineering SDN BHD | Services" />
<meta property="og:description" content="KCK KOK ENGINEERING, ditubuhkan pada tahun 1993 yang berasas di lokasi Besut, sudah berkhidmat hampir 12 tahun dalam industri konkrit siap pakai dan hampir 20 tahun dalam perkhidmatan kimpalan (mesin-lay) berasas logam" />
<meta property="og:image" content="http://kckok.my/static/img/hero/background-2.jpg" />
{% endblock %}

{% block body %}
<main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/services.jpeg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>Perkhidmatan 🎖</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'kck:index' %}">Utama 🏠</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'kck:services' %}">Perkhidmatan 🎖</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Services Area Start -->
        <div class="services-area1 section-padding30">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                                <h2 class="">Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/welding.png' %}" alt="steel moudling">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "kimpalan" %}">KCK Kimpalan</a></h4>
                                <a href="{% url 'kck:services' "kimpalan" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/concrete.jpeg' %}" alt="konkrit, concrete">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "semix" %}">Semix</a></h4>
                                <a href="{% url 'kck:services' "semix" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/construction.jpeg' %}" alt="construction pembangunan">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "pembinaan" %}">KCK Pembinaan</a></h4>
                                <a href="{% url 'kck:services' "pembinaan" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/sandevacation.jpeg' %}" alt="sand, pasir">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "pasir" %}">KCK Pasir</a></h4>
                                <a href="{% url 'kck:services' "pasir" %}"  class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/craneser.jpeg' %}" alt="kren">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "kren" %}">KCK Mobil-Kren</a></h4>
                                <a href="{% url 'kck:services' "kren" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/steel.jpeg' %}" alt="metal fabrication">
                            </div>
                            <div class="service-cap">
                                <h4><a href="{% url 'kck:services' "fabrikasi" %}">KCK Fabrikasi</a></h4>
                                <a href="{% url 'kck:services' "fabrikasi" %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
    </main>
{% endblock %}