{% extends "kck2021/layout.html" %}
{% load static %}

{% block body %}
<main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/services.jpeg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap pt-100">
                                <h2>Perkhidmatan 🎖</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'kck:index' %}">Utama 🏠</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'kck:services' %}">Perkhidmatan 🎖</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Services Area Start -->
        <div class="services-area1 section-padding30">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                                <h2 class="">Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/welding.png' %}" alt="steel moudling">
                            </div>
                            <div class="service-cap">
                                <h4><a href="services_details.html">KCK Kimpalan</a></h4>
                                <a href="{% url 'kck:services' 1 %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/concrete.jpeg' %}" alt="konkrit, concrete">
                            </div>
                            <div class="service-cap">
                                <h4><a href="services_details.html">Semix</a></h4>
                                <a href="{% url 'kck:services' 2 %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/construction.jpeg' %}" alt="construction pembangunan">
                            </div>
                            <div class="service-cap">
                                <h4><a href="services_details.html">KCK Pembinaan</a></h4>
                                <a href="{% url 'kck:services' 3 %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="divider">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/sandevacation.jpeg' %}" alt="sand, pasir">
                            </div>
                            <div class="service-cap">
                                <h4><a href="services_details.html">KCK Pasir</a></h4>
                                <a href="{% url 'kck:services' 4 %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/craneser.jpeg' %}" alt="kren">
                            </div>
                            <div class="service-cap">
                                <h4><a href="services_details.html">KCK Mobil-Kren</a></h4>
                                <a href="{% url 'kck:services' 5 %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-service-cap mb-30">
                            <div class="service-img">
                                <img src="{% static 'img/service/steel.jpeg' %}" alt="metal fabrication">
                            </div>
                            <div class="service-cap">
                                <h4><a href="services_details.html">KCK Fabrikasi</a></h4>
                                <a href="{% url 'kck:services' 6 %}" class="more-btn">Read More <i class="ti-plus"></i></a>
                            </div>
                            <div class="service-icon">
                                <img src="{% static 'img/icon/divider.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
    </main>
{% endblock %}