{% extends "kck2021/layout.html" %}
{% load static %}

{% block body %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'img/service/construction.jpeg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8">
                            <div class="hero-cap hero-cap2 pt-120">
                                <h2>KCK Pembinaan</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'kck:services' %}"> Perkhidmatan</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'kck:services' 3 %}"> Pembinaan</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Services Details Start -->
        <div class="services-details-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="single-services section-padding2">
                            <div class="details-img mb-40">
                                <img src="{% static 'img/service/construction_picture.jpeg' %}" alt="construction">
                            </div>
                            <div class="details-caption">
                                <p>Antara salah satu perkhidmatan yang ditawarkan dalam syarikat ini ialah kami menyediakan
                                    perkhidmatan dalam sektor pembekalan konkrit. Loji pencampuran konkrit digunakan
                                    terutamanya untuk menghasilkan konkrit untuk penggunaan sendiri, penduduk tempatan
                                    ataupun kontraktor lain. Oleh itu, ia dibina berdekatan dengan tapak pembinaan jalan
                                    raya. </p>
    
                                <p>Loji pencampuran konkrit ini mempunyai beberapa kelebihan iaitu pendudukan tanah kecil,
                                    konfigurasi ditetapkan mengikut keperluan, penjimatan kos dan mudah dikendalikan.
                                    Semix sesuai dalam sektor-sektor yang melibatkan dalam:</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Struktur Seni Bina</h5>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Asas Pembangunan</h5>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Jambatan</h5>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Jalan Raya</h5>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Infra</h5>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Sukan Kompleks</h5>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Pengubahsuaian Rumah</h5>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="services-quality card mb-3" style="max-width: 18rem;">
                                        <div class="icon d-flex p-3 check justify-content-center align-items-center">
                                            <span class="icon-img text-center">
                                                <img src="{% static 'img/icon/Circle_Check.svg' %}">
                                            </span>
                                        </div>
                                        <div class="card-content p-3 text-primary text-center">
                                            <h5 class="card-title font-weight-bold">Longkang</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <h3>Bagaimana kita dapat bantu?</h3>
                            <p>Bagi perkhidmatan sector pembinaan, KCK terkenal dengan projek infrastruktur yang bertanggungjawab menjaga aliran elektrik dan air ke rumah dan tapak perniagaan. KCK juga bertanggungjawab untuk jalan raya, jambatan dan cara transit massa lain yang digunakan untuk menghantar orang dan barang ke seluruh negara. Projek pembinaan skala besar memerlukan kepakaran dan teknologi. Justeru itu, untuk memastikan pembinaan berjalan dengan lancar, perancangan yang berkesan amat penting. Sesuatu pembinaan biasanya diketuai oleh ketua projek yang akan dibantu oleh pengurus pembinaan, jurutera seni bina, jurutera pembinaan atau arkitek.

                            <p>Jika anda berminat untuk 'partnership' ataupun memerlukan kontraktor yang berpengalaman untuk menyiapkan sesuatu projek, sila mengunakan cara-cara berikut untuk sampaikan pernyataan anda:. </p>
                                <div class="container py-2 mt-4 mb-4">
    
                                    <h2 class="font-weight-bold companyColor">Jika berminat. </h2>
                                    <div class="row">
                                        <!-- timeline item 1 left dot -->
                                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                                            <div class="row h-50">
                                                <div class="col">&nbsp;</div>
                                                <div class="col">&nbsp;</div>
                                            </div>
                                            <h5 class="m-2">
                                                <span class="badge badge-pill bg-badge border-company">&nbsp;</span>
                                            </h5>
                                            <div class="row h-50">
                                                <div class="col border-right-company">&nbsp;</div>
                                                <div class="col">&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class="col py-2">
                                            <div class="card">
                                                <div class="card-body border-company p-3">
                                                    <h4 class="card-title phase-icon my-auto"> <img src="{% static 'img/icon/whatsapp.svg' %}"> Whatsapp 012-9886348</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                                            <div class="row h-50">
                                                <div class="col border-right-company">&nbsp;</div>
                                                <div class="col">&nbsp;</div>
                                            </div>
                                            <h5 class="m-2">
                                                <span class="badge badge-pill bg-badge border-company">&nbsp;</span>
                                            </h5>
                                            <div class="row h-50">
                                                <div class="col border-right-company">&nbsp;</div>
                                                <div class="col">&nbsp;</div>
                                            </div>
                                        </div>
                                        <div class="col py-2">
                                            <div class="card">
                                                <div class="card-body border-company p-3">
                                                    <h4 class="card-title phase-icon my-auto"> <img src="{% static 'img/icon/building.svg' %}"> E-mel kepada <a href="mailto:kckokengineering@gmail.com">kckokengineering@gmail.com</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                Langkah-langkah ini perlu diikuti bagi mendapatkan perkhidmatan bekalan dari syarikat
                                kami. Kami juga menyediakan perkhidmatan kren dengan trak campuran konkrit bagi
                                memudahkan semasa proses penghantaran jika pelanggan memerlukan.
                            <p>Loji pencampur konkrit ini memainkan peranan penting dalam proses lapisan antara lapisan
                                dengan agregat dan simen memandangkan sebilangan agregat memerlukan pencampuran yang
                                konsisten antara simen dan air untuk mengukuhkan unsur-unsur konkrit. Hal ini demikian,
                                setiap kilang mesti menghasilkan konkrit secara konsisten dalam perkadaran yang sama.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <!-- Services Details End -->
    </main>
{% endblock %}